/*Reset*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Fonts*/
@font-face {
  font-family: 'Maax';
	font-weight: 400;
	font-style: normal;
  src: url('../fonts/Maax-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Maax-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Maax-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Maax-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Maax-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Maax-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Maax';
	font-weight: 400;
	font-style: italic;
  src: url('../fonts/Maax-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Maax-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Maax-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Maax-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Maax-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Maax-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Maax';
	font-weight: 700;
	font-style: normal;
  src: url('../fonts/Maax-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Maax-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Maax-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Maax-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Maax-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Maax-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Maax';
	font-weight: 700;
	font-style: italic;
  src: url('../fonts/Maax-Bold-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Maax-Bold-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Maax-Bold-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Maax-Bold-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Maax-Bold-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Maax-Bold-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Tiempos';
	font-weight: 400;
	font-style: normal;
  src: url('../fonts/TiemposTextWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TiemposTextWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TiemposTextWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/TiemposTextWeb-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/TiemposTextWeb-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Tiempos';
	font-weight: 400;
	font-style: italic;
  src: url('../fonts/TiemposTextWeb-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/TiemposTextWeb-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/TiemposTextWeb-RegularItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/TiemposTextWeb-RegularItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/TiemposTextWeb-RegularItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/*Utilities*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.multiply {
	-webkit-mix-blend-mode: multiply;
	-moz-mix-blend-mode: multiply;
	-o-mix-blend-mode: multiply;
	mix-blend-mode: multiply;
}

.ls1 {
	letter-spacing: -0.013em;
}

.ls2 {
	letter-spacing: -0.012em;
}

.ls3 {
	letter-spacing: -0.021em;
}

.ls4 {
	letter-spacing: -0.028em;
}

.lh-title.tiempos {
	line-height: 1.37;
}

.bg-animate, .link, .link:active, .link:focus, .link:hover, .link:link, .link:visited {
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

.bg-light-blue {
	background: #D2FBF9;
}

.bg-lightest-blue {
	background: rgba(210, 251, 249, .5);
}

.cb {
	clear: both;
}

@media (max-width: 64em) {
	.flex-wrap-sm {
		flex-wrap: wrap;
	}
}

@media (min-width: 64em) {
	.bg-lightest-blue-l {
		background: rgba(210, 251, 249, .5);
	}
	.bg-transparent-l {
		background: none;
	}
	.cb {
		clear: inherit;
	}
}

.bg-red {
	background: #EF0919;
}

.hover-bg-red:hover {
	background: #EF0919;
}

.red {
	color: #EF0919;
}

.hover-red:hover {
	color: #EF0919;
}

.b--red {
	border-color: #EF0919;
}

.bg-purple {
	background: #B1009A;
}

.hover-purple:hover {
	color: #B1009A;
}

.bg-blue {
	background: #763DFF;
}

.hover-blue:hover {
	color: #763DFF;
}

.bg-green {
	background: #06B162;
}

.hover-green:hover {
	color: #06B162;
}

.bg-light-red {
	background: #FF584E;
}

.hover-light-red:hover {
	color: #FF584E;
}

.bg-yellow {
	background: #FFA700;
}

.hover-yellow:hover {
	color: #FFA700;
}

.teal {
	color: #8AF9F3;
}

.bg-teal {
	background: #8AF9F3;
}

.b--teal {
	border-color: #8AF9F3;
}

.gray {
	color: #2c2c2c;
}

.bg-gray-80 {
	background: rgba(44, 44, 44, .8);
}

.light-gray {
	color: rgba(44, 44, 44, .3);
}

/*Grid*/
.w-95 {
	width: 95%;
}

.w-1 {
	width: 8.3%;
}

.w-2 {
	width: 16.6%;
}

.w-3 {
	width: 24.9%;
}

.w-4 {
	width: 33.2%;
}

.w-5 {
	width: 41.5%;
}

.w-6 {
	width: 50%;
}

.w-7 {
	width: 58.1%;
}

.w-8 {
	width: 66.4%;
}

.w-9 {
	width: 74.7%;
}

.w-10 {
	width: 83%;
}

.w-11 {
	width: 91.3%;
}

.w-12 {
	width: 100%;
}
@media (min-width: 44.938em) {
	.w-1-m, .w-1-ns {
		width: 8.3%;
	}

	.w-2-m, .w-2-ns {
		width: 16.6%;
	}

	.w-3-m, .w-3-ns {
		width: 24.9%;
	}

	.w-4-m, .w-4-ns {
		width: 33.2%;
	}

	.w-5-m, .w-5-ns {
		width: 41.5%;
	}

	.w-6-m, .w-6-ns {
		width: 50%;
	}

	.w-7-m, .w-7-ns {
		width: 58.1%;
	}

	.w-8-m, .w-8-ns {
		width: 66.4%;
	}

	.w-9-m, .w-9-ns {
		width: 74.7%;
	}

	.w-10-m, .w-10-ns {
		width: 83%;
	}

	.w-11-m, .w-11-ns {
		width: 91.3%;
	}

	.w-12-m, .w-12-ns {
		width: 100%;
	}
}
@media (min-width: 64em) {
	.w-1-l {
		width: 8.3%;
	}

	.w-2-l {
		width: 16.6%;
	}

	.w-2-5-l {
		width: 20%;
	}

	.w-3-l {
		width: 24.9%;
	}

	.w-4-l {
		width: 33.2%;
	}

	.w-5-l {
		width: 41.5%;
	}

	.w-6-l {
		width: 50%;
	}

	.w-7-l {
		width: 58.1%;
	}

	.w-8-l {
		width: 66.4%;
	}

	.w-9-l {
		width: 74.7%;
	}

	.w-10-l {
		width: 83%;
	}

	.w-11-l {
		width: 91.3%;
	}

	.w-12-l {
		width: 100%;
	}

	.push-1-l {
		margin-left: 8.3%;
	}

	.push-2-l {
		margin-left: 16.6%;
	}
}

.push-2 {
	margin-left: 16.6%;
}

/*Typography*/
body, .maax {
	font-family: 'Maax', -apple-system, BlinkMacSystemFont, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

body {
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tiempos {
	font-family: 'Tiempos', georgia, Times, serif;
}

.f-headline {
	font-size: 7.5rem;
}

.f-subheadline.teal.number {
	font-size: 6.5rem;
}

.f-subheadline {
	font-size: 5.65rem
}

.f1.tiempos {
	font-size: 2.5rem;
}

.f1 {
	font-size: 3.44rem;
}

.f2.tiempos {
	font-size: 1.9rem;
}

.f2 {
	font-size: 2.2rem;
}

@media (max-width: 44.938em) {
	.f1.tiempos.number {
		font-size: 4rem;
	}
}

@media (max-width: 64em) {
	.f7 {
		line-height: 1.25;
	}
}

@media (min-width: 44.938em) {
	.f-headline-ns {
		font-size: 7.5rem;
	}

	.f-subheadline-ns.number.tiempos {
		font-size: 5.65rem
	}

	.f1-ns {
		font-size: 3.44rem;
	}

	.f1-ns.tiempos {
		font-size: 2.5rem;
	}

	.f-headline-ns.teal.number {
		font-size: 11.5rem;
	}

	.f3-ns.tiempos {
		font-size: 1.6rem;
	}
}

@media (min-width: 64em) {
  .f-headline-l {
    font-size: 7.5rem;
		letter-spacing: -0.021em;
  }

	.f-headline-l.teal {
		font-size: 11.57rem;
	}

	.f-subheadline-l {
		font-size: 5.65rem
	}

	.f1-l.tiempos {
		font-size: 2.5rem;
	}

	.f1-l {
		font-size: 3.44rem;
	}
}


/*Global*/
.page-container {
	max-width: 1280px;
	width: 95%;
}

@media (min-width: 44.938em) {
	.page-container-ns {
		max-width: 1280px;
		width: 95%;
	}
}

@media (min-width: 64em) {
	.page-container-l {
		max-width: 1280px;
		width: 95%;
	}
}

.button {
	padding-top: .6rem;
	padding-bottom: .7rem;
	line-height: 1;
}

.button.br2 {
	border-radius: .2rem;
}

.button.ph4 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

@media (min-width: 44.938em) {
	.website-link {
		position: relative;
		top: -1px
	}
}

.link-border {
	padding-bottom: .2rem;
	border-bottom: 1px solid transparent;
}

.link-border--active, .link-border:hover {
	border-color: #8AF9F3;
}

/*Circle Graphs*/
.outside-circle {
	left: 0;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	right: 0;
	z-index: 4;
	padding: 10px;
	margin-left: -2.1rem;
}

.outside-circle {
	width: 150px;
	height: 150px;
}

.circle svg {
	position: absolute;
}

.small-circle svg {
	right: 10px;
	width: 63px;
}

.big-circle svg {
	left: 10px;
}

.circle-content {
	width: 50%;
	margin-left: 160px;
	top: 50%;
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0);
	z-index: 4;
}

.circle-content--french {
	width: 60%;
}

@media (max-width: 330px) {
	.circle-content {
		margin-left: 130px;
	}
}

@media (min-width: 44.938em) {
	.circle svg {
		position: absolute;
	}

	.small-circle svg {
		right: 20px;
		width: auto;
	}

	.big-circle svg {
		left: 20px;
	}

	.big-circle .circle-content {
		width: 30%;
	}

	.big-circle .circle-content--french {
		width: 50%;
	}

	.circle-content {
		width: 49%;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 4;
		margin-left: 0;
	}

	.circle-content--french {
		width: 60%;
	}

	.small-circle {
		height: 300px;
	}

	.big-circle {
		height: 484px;
	}

	.small-circle .outside-circle {
		width: 284px;
		height: 284px;
	}

	.big-circle .outside-circle {
		width: 484px;
		height: 484px;
	}

	.outside-circle {
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		right: 0;
		z-index: 4;
		padding: 20px;
		margin-left: 0;
	}

	.big-circle {
		height: 484px;
	}

	.big-circle .outside-circle {
		width: 484px;
		height: 484px;
	}

	.big-circle--89 {
		margin-left: auto;
		margin-top: -20rem;
	}

	.big-circle--crop-right {
		right: -12em;
	}
}

@media (min-width: 64em) {
	.big-circle--89 {
		margin-left: inherit;
		margin-top: 0;
	}
	.big-circle--crop-right {
		right: 0;
	}
}

/*Header*/
@media (max-width: 64em) {
	nav.f6 {
		font-size: .75rem;
	}
}
@media (min-width: 64em) {
	.logo svg {
		position: relative;
		left: -74px;
	}
}

.heading-circles {
	top: -21%;
	left: 50%;
	-webkit-transform: translateX(-70%);
	-moz-transform: translateX(-70%);
	-o-transform: translateX(-70%);
	transform: translateX(-70%);
}

@media (min-width: 44.938em) {
	.heading-circles {
		top: -45%;
		left: 1.5em;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}

@media (min-width: 64em) {
	.heading-circles {
		top: -65%;
		left: 230px;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
}

/*Vision*/
.our-vision {
	font-size: 17vw;
	top: -2.5rem;
}

.our-vision--french {
	font-size: 15vw;
}

@media (min-width: 44.938em) {
	.our-vision {
		font-size: 17vw;
		top: -6.5rem;
	}
	.our-vision--french {
		font-size: 15vw;
	}
}
@media (min-width: 64em) {
	.our-vision {
		font-size: 13.5vw;
	}
	.our-vision--french {
		font-size: 11vw;
	}
}

@media (min-width: 1400px) {
	.our-vision {
		font-size: 180px;
	}
	.our-vision--french {
		font-size: 162px;
	}
}

.col-icon svg {
	min-height: 106px;
	max-height: 106px;
	max-width: 108px;
}

/*Stats*/
.top-circle {
	top: 0;
}

.bottom-content {
	top: 0;
}

@media (min-width: 44.938em) {
	.bottom-content {
		top: -3rem;
	}
	.top-circle {
		top: -4rem;
	}
}

@media (min-width: 64em) {
	.bottom-content {
		top: -5rem;
	}
}

.people svg, .people img {
	max-width: 560px;
	width: 100%;
}

.stat-icon {
	top: -2rem;
}

.stat-icon.hours {
	top: -3rem;
}

.stat-icon svg {
	max-width: 126px;
	max-height: 108px;
}

.line-divider {
	width: 100%;
	top: -1.65rem;
}

.line-divider svg {
	max-height: 114px;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-48%);
	-moz-transform: translateX(-48%);
	-o-transform: translateX(-48%);
	transform: translateX(-48%);
}

@media (min-width: 44.938em) {
	.line-divider svg {
		-webkit-transform: translateX(-45%);
		-moz-transform: translateX(-45%);
		-o-transform: translateX(-45%);
		transform: translateX(-45%);
	}
}

@media (min-width: 64em) {
	.line-divider svg {
		-webkit-transform: translateX(-56.9%);
		-moz-transform: translateX(-56.9%);
		-o-transform: translateX(-56.9%);
		transform: translateX(-56.9%);
	}
}

/*Programs*/
.educational-programs {
	font-size: 13vw;
	top: -3.5rem;
	left: 1rem;
}

.educational-programs--french {
	font-size: 9vw;
}

.educational-programs--right {
	right: 1rem;
	left: inherit;
	top: -1rem;
}

@media (min-width: 44.938em) {
	.educational-programs {
		top: -7rem;
		font-size: 14vw;
		left: 0;
	}

	.educational-programs--french {
		font-size: 11vw;
	}

	.educational-programs--right {
		top: 0rem;
		right: 0;
		left: inherit;
	}
}

@media (min-width: 64em) {
	.educational-programs {
		top: -7rem;
		left: -.76rem;
	}
	.educational-programs--right {
		top: 3rem;
		right: 0;
		left: inherit;
	}
}

@media (min-width: 1400px) {
	.educational-programs {
		font-size: 185px;
	}
	.educational-programs--french {
		font-size: 140px;
	}
}

.program-logo img {
	position: relative;
	left: 0;
}

@media (min-width: 64em) {
	.program-logo img {
		left: -46px;
	}
}

.supporter-circles {
	-webkit-transform: translateX(-53%);
	-moz-transform: translateX(-53%);
	-o-transform: translateX(-53%);
	transform: translateX(-53%);
	top: -9rem;
}

.supporter-circles svg {
	max-width: 420px;
	max-height: 616px;
}

.expand {
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
	top: .5rem;
	right: .5rem;
}

.expand.open {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

@media (min-width: 44.938em) {
	.expand {
		top: 1.5rem;
		right: 1.5rem;
	}
}

/*Footer*/
.maple-leaf {
	top: -21.5rem;
	left: 0;
	margin-left: -8%;
}

#insta li:nth-last-child(-n+6) {
	display: none;
}

@media (min-width: 44.938em) {
	#insta li:nth-last-child(-n+6) {
		display: block;
	}

	.maple-leaf {
		top: -18rem;
		left: 0;
		margin-left: -24.3%;
	}
}

@media (min-width: 64em) {
	.maple-leaf {
		top: -13rem;
		right: 0;
		left: inherit;
		margin-left: 0;
		margin-right: -12.3%;
	}
}

.maple-leaf svg {
	max-width: 790px;
	max-height: 684px;
}

.code-future {
	top: -5rem;
	line-height: .9;
}

@media (min-width: 44.938em) {
	.code-future {
		top: -11.75rem;
	}
}

@media (min-width: 64em) {
	.code-future {
		top: -11.75rem;
	}
}

.newsletter-input {
	padding-top: .75rem;
	padding-bottom: .75rem;
}

.newsletter-input:focus {
	border-color: #fff;
	outline: 1px dashed rgba(255, 255, 255, .6);
	outline-offset: -4px;
}

.social-icon svg {
	min-height: 34px;
	max-width: 42px;
}

.email-link {
	word-wrap: break-word;
}
